defaults: &defaults
  working_directory: /multiruby
  docker:
    - image: deliveroo/circleci:0.1.8

version: 2

jobs:
  build:
    <<: *defaults

    steps:

      - setup_remote_docker:
          reusable: true
          docker_layer_caching: true
          version: 17.05.0-ce

      - checkout

      - run:
          name: Build production image
          command: ./build.sh

      - run:
          name: Save CI Image
          command: |
            mkdir -p workspace
            IMAGE=deliveroo/multiruby:$(cat VERSION)
            FILE=workspace/multiruby-$(cat VERSION).tar
            docker save "$IMAGE" --output "$FILE"

      - persist_to_workspace:
          root: workspace
          paths:
            - "*.tar"

  push:
    <<: *defaults

    steps:

      - add_ssh_keys:
          fingerprints:
            - 50:3a:87:a8:a6:5c:b7:58:3c:d2:71:b0:30:14:2c:a2

      - setup_remote_docker:
          reusable: true
          docker_layer_caching: true
          version: 17.05.0-ce

      - checkout

      - attach_workspace:
          at: workspace

      - run:
          name: Load image
          command: |
            FILE=workspace/multiruby-$(cat VERSION).tar
            docker load --input "$FILE"

      - run:
          name: Tag the git commit and push the image
          command: ./tag_and_push.sh

workflows:
  version: 2

  build_and_push:
    jobs:
      - build
      - push:
          requires:
            - build
          filters:
            branches:
              only:
                - master
