defaults: &defaults
  working_directory: /multiruby
  docker:
    - image: deliveroo/circleci:0.1.8

version: 2

jobs:
  build:
    <<: *defaults

    steps:

      - setup_remote_docker:
          reusable: true
          docker_layer_caching: true
          version: 17.05.0-ce

      - checkout

      - run:
          name: Build production image
          command: ./build.sh

  push:
    <<: *defaults

    steps:

      - setup_remote_docker:
          reusable: true
          docker_layer_caching: true
          version: 17.05.0-ce

      - run:
          name: Tag the git commit and push the image
          command: ./tag_and_push.sh

workflows:
  version: 2

  build_and_push:
    jobs:
      - build
      - push:
          requires:
            - build
          filters:
            branches:
              only:
                - master
